<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

    <!--Add a nav bar here -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" >
        <a class="navbar-brand" href="#">Dealership Review</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav d-flex justify-content-between">
        <div class="d-flex flex-row">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'djangoapp:about' %}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'djangoapp:contact' %}">Contact</a>
            </li>
        </div>
        {% if user.is_authenticated %}
        <li>
            <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
            <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
        </li>
        {% else %}
        <li>
            <form class="form-inline" action="#" method="post">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Username" name="username" >
                    <input type="password" class="form-control" placeholder="Password" name="psw" >
                    <a href="{% url 'djangoapp:login' %}">Login</a>
                    <a class="btn btn-link" href="#">Sign Up</a>
                </div>
            </form>
        </li>
        {% endif %}
          </ul>
        </div>
    </nav>

    <!-- Add reviews as cards -->

    </body>

</html>